*.aux
*.log
*.pdf\
*.synctex.gz
*.dvi
*.pyc
.vscode
*.bbl
*.blg
*.out
manuscript/dart-trackChanges.pdf
manuscript/dart.pdf
manuscript/scwcd-ieee.pdf
manuscript/scwcd-lipics.pdf
manuscript/scwcd-x-ieee.pdf
manuscript/scwcd.pdf
manuscript/test.pdf
manuscript/*.pdf
*.eps
*gnuplottex*.pdf
*gnuplottex*.gnuplot
*gnuplottex*.tex
*gnuploterrors
*.lof
*.toc
*.lot